.form-container {
  gap: 55px;
  padding-top: 160px;
}

.main-section {
  border-top: 4px solid #ff7e56;
}

section {
  border: none;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3F3E3E;
}

label {
  display: flex;
  color: #181818;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 8px 24px;
  height: 50px;
  background-color: #ff7e56;
  color: white;
  gap: 8px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #f95b2b;
}

a {
  text-decoration: none;
  color: #ff7e56;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.login-a {
  color: #3F3E3E;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email {
  background: url('../../../assets/icons/email.svg') no-repeat right 16px center;
}

#password {
  background: url('../../../assets/icons/eye-off.svg') no-repeat right 16px center;
}

#email, #password {
  padding-right: 50px;
}