<header class="header-container">
  <section class="main-container">
    <section class="logo">
      <a routerLink="/home">
        <img src="assets/icons/logo.svg" alt="paws-logo" />
      </a>
    </section>
    <nav class="nav-container">
     <section class="nav-links-group">
      <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="animals/adopt">Adopt</a></li>
        <li><a routerLink="animals/lost-and-found">Lost & Found</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </section>
    <section class="nav-links-group">
      <hr class="nav-splitter">
    </section>
    <section class="nav-links-group">
      <ul class="nav-links">
        <li class="action-li"><a class="action-btn" routerLink="users/register"><img src="assets/icons/user.svg" alt="user">Sign up</a></li>
        <li><a class="donate-btn" routerLink="/donate"><img src="assets/icons/donate-logo.svg" alt="donate">Donate</a></li>
      </ul>
    </section>
    </nav>
  </section>
</header>
