<article class="support-article">
  <section class="support-article-container">
    <header class="support-c">
      <h5>Support us with a Donation</h5>
      <a href="donate" class="donate-w"
        ><img
          src="assets/icons/orange-paw.svg"
          alt="paw"
          class="paw-w"
        />Donate</a
      >
    </header>
    <section class="support-t">
      <p>
        With your help, we can change the lives of even more animals in need!
        Every dollar donated supports our efforts to provide medical care, food,
        shelter, and love to abandoned and homeless animals. Your support not
        only saves lives but also gives a fresh start to those who need it most.
      </p>
    </section>
    <footer class="end-t">
      <p>
        Even the smallest donation can make a big difference. Together, we can
        build a world where every animal finds security, love, and a home.
        Support us today and help us give each animal hope and a future. Thank
        you for being a part of our mission!
      </p>
    </footer>
  </section>
</article>
