.support-article {
  width: 100%;
  padding: 120px 0;
  background-color: #ff7e56;
}

.support-article-container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.support-c h5 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: #ffff;
}

.support-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate-w {
  background-color: #ffff;
  padding: 8px 24px;
  border-radius: 40px;
  color: #ff7e56;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.paw-w {
  height: 16px;
  width: 16px;
}

.support-t {
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
}

.end-t {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  padding: 24px;
  color: #ffff;
  overflow: hidden;
  border-radius: 12px;
}

.end-t::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  border: 1px dashed #ffff;
  pointer-events: none;
}