<footer class="footer-container">
  <section class="main-container">
    <section class="footer-top">
      <a routerLink="/home" class="footer-logo">
        <img src="assets/icons/logo-blk.svg" alt="logo-blk">
      </a>
      <nav class="footer-nav">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="animals/adopt">Adopt</a></li>
          <li><a routerLink="animals/lost-and-found">Lost & Found</a></li>
          <li><a routerLink="about-us">About us</a></li>
          <li><a routerLink="contact-us">Contact us</a></li>
        </ul>
      </nav>
    </section>
    <section class="footer-bottom">
      <p>2024 &copy; Paws All rights reserved</p>
      <nav class="footer-policy-nav">
        <ul class="footer-policy">
          <li><a routerLink="/terms">Terms and conditions</a></li>
          <li><a routerLink="/privacy">Privacy policy</a></li>
        </ul>
      </nav>
    </section>
  </section>
</footer>