<section class="hero-section">
  <img src="assets/img/hero.png" alt="hero-dog">
</section>

<section class="animal-section-1">
  <a class="animal-card-blank" href="animals/adopt">
    <figure class="animal-blank">
      <img src="assets/icons/pet-friendly-grey.svg" alt="" class="animal-grey" />
      <figcaption>
        <p class="line">View</p>
        <p class="line">all animals</p>
      </figcaption>
    </figure>
  </a>
</section>

<article class="mission-article">
  <section class="mission-content">
    <header>
      <h5>Our mission</h5>
    </header>
    <section class="mission-text">
    <p class="mission-p">
      Our mission is to give every animal a chance for a better life, filled
      with care and love. We believe that every creature deserves a safe home
      and attention, regardless of its past. We work tirelessly to rescue
      animals in need, rehabilitate them, and find loving families that will
      welcome them as part of their lives.
    </p>
    <p class="mission-p">
      We strive to inspire the community to be more compassionate and
      responsible toward animals by organizing awareness campaigns and
      educational initiatives. Our foundation also supports spay and neuter
      programs to help prevent unwanted litters and reduce homelessness.
    </p>
  </section>
    <footer class="article-end">
      <img src="assets/icons/heart.svg" alt="" />
      <p>We believe that, together we can build a world where every animal lives in peace and dignity.</p>
    </footer>
  </section>
  <figure class="puppy-adopt">
    <img src="assets/img/mission-banner.png" alt="" />
  </figure>
</article>

<section class="animal-section-2">
  <header>
    <h5>Lost & Found</h5>
  <p class="mission-p">
    If you’ve lost your pet or found a stray animal, we’re here to help. Our
    goal is to reconnect lost animals with their families as quickly and safely
    as possible.
  </p>
</header>

  <figure class="animal-cards-container">
    <a class="animal-card-blank" href="animals/lostandfound">
      <div class="animal-blank">
        <img
          src="assets/icons/pet-friendly-grey.svg"
          alt=""
          class="animal-grey"
        />
        <figcaption>
          <p class="line">View</p>
          <p class="line">all animals</p>
        </figcaption>
      </div>
    </a>
  </figure>
</section>