<div class="animal-card" >
  <!-- <img [routerLink]="['/animals', animal._id, 'details']" class="animal-img" [src]="animal.image" alt="{{ animal.name }}" />
  @if(animal.status === 'Lost' || animal.status === 'Found') {
  <span class="animal-status">{{ animal.status }}</span>
  <div class="animal-info">
    <div class="card">
      <img
        src="assets/types/type-{{ animal.type }}.svg"
        alt="type-dog"
        class="animal-type"
      />
      <p>{{ animal.name }}</p>
    </div>
    <a [routerLink]="['/animals', animal._id, 'details']" class="animal-a"
      >View<img src="assets/img/arrow.svg" alt="arrow" class="animal-arrow"
    /></a>
  </div>
  } @if(animal.status === 'Adopt') {
  <span class="animal-like">
    <img
      src="assets/img/like-no.svg"
      alt="Disslike"
      (click)="toggleLike(animal)"
    />
  </span>
  } -->

  <div class="animal-info">
    <div class="card">
      <!-- <img
        src="assets/types/type-{{ animal.type }}.svg"
        alt="type-dog"
        class="animal-type"
      />
      <p>{{ animal.name }}</p>
    </div>
    <a [routerLink]="['/animals', animal._id, 'details']" class="animal-a"
      >View<img src="assets/img/arrow.svg" alt="arrow" class="animal-arrow"
    /></a> -->
  </div>
</div>
